body {
   background-color: rgb(183, 183, 183);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
   color: #0b0d33;
   text-align: center;
}

main {
   color: white;
   /* background-color: rgb(35, 40, 91); */
   width: 1440px;
   height: auto;
   margin: 0 auto;
}

.product-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
   gap: 50px;
   color: white;
}

.product-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: #0b0d33;
   box-shadow: 0 0 8px rgb(3, 31, 67);
   padding: 20px;
   border-radius: 12px;
   min-height: 380px; /* Todas igual de altas */
   width: 400px; /* Todas igual de anchas */
   transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;

   &:hover {
      transform: scale(1.03); /* Zoom */
      box-shadow: 0 0 20px rgb(2, 9, 230);
   }
}

section {
   display: flex;
   flex-direction: column;
   gap: 14px;
   align-items: center;
}

button {
   color: white;
   height: 35px;
   width: 100%;
   border-radius: 6px;
   border-style: none;
   background-color: rgb(29, 29, 129);
   cursor: pointer;
   transition: all 0.3s;

   &:hover {
      color: white;
      background-color: rgb(18, 119, 250);
      box-shadow: 0 0 8px rgb(18, 119, 250);
   }
}

img {
   width: 100%;
   height: auto; /* Todas tendrán esta altura */
   object-fit: contain; /* Se recorta pero no se deforma */
   border-radius: 10px;
}

.cart {
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
   gap: 50px;
   color: white;
}
